* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.header {
  background: #ddd;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-menu {
  width: 1140px;
  margin: 0 auto;
  display: flex;
}

.logo {
  width: 30%;
}
.logo img {
  width: 20%;

  border-radius: 100%;
}

.menu-list {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: right;
}

.z-index {
  margin-top: 8%;
  position: relative;
}

h2 {
  font-size: 80px;
}

p {
  font-size: 30px;
  width: 40%;
}

.z-index p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
