* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 30px;
}

header {
  background: #ddd;
}

nav {
  display: flex;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
}

.logo {
  width: 20%;
}

.logo img {
  width: 30%;
  border-radius: 100%;
}
.menu-list {
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
