* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.shadow1 {
  background-color: blueviolet;
  color: white;
  width: 400px;
  height: 400px;
  box-shadow: 6px 20px 20px #383826;
  /* border-end-end-radius: 100px;
  border-top-left-radius: 200px;
  border-top-right-radius: 300px;
  border-end-start-radius: 100px;
  border-bottom-left-radius: 250px;
  border-start-start-radius: 350px;
  border-bottom-right-radius: 500px; */
  border-radius: 20px 50px 100px 500px;
}
