@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.column {
  width: 33%;
  border: 1px solid blue;
  padding: 20px;
  background-color: purple;
}

.first-column {
  background: url("img2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.first-column-img {
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
}
