.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: wrap;
  gap: 30px;
  border: 2px solid red;
  height: 600px;
  margin: 0 auto;
  width: 1140px;
}

.item {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
